
/*----------------*
 * Typography
 *................*/

@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Denk+One);

/*----------------*
 * Common styles
 *................*/

.short {width: 33%;}
.medium {width: 66%;}
.half {width:50%;}
.full {width: 100%;}
.center {margin: auto;}

.left {float: left;}
.right {float: right;}
.clear {overflow: hidden;}
.clr {clear:both;width:0;height:0;}
.hide {display: none;}

.text-right {text-align: right}
.text-left {text-align: left}

.lt {float: left;}
.rt {float: right;}
.cntr {margin-left: 41%;}

/*----------------*
 * Common layouts
 *................*/

.wrap {width: 940px; margin: auto;}


/*---------------------*
 * Bootstrap overrides
 *.....................*/

body {line-height: 22px; font-size: 13px;}
li {line-height: 22px;}
.navbar-inner {border-radius: 0;}
.navbar .brand {font-family: 'Denk One';}
.navbar .nav .dropdown-toggle .caret {margin-top: 10px;}
h1 {font-size: 32px;}
h2 {font-size: 27px;}
h3 {font-size: 22px;}
h4 {font-size: 17px;}
dt, dd {line-height: 24px;}

.dropdown-menu .active > a, .dropdown-menu .active > a:hover {
	background-color: #D98B07;
	background-image: -moz-linear-gradient(center top , #D98B07, #C57E04);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#D98B07),to(#C57E04))
}

/*------------------
 * /home */

div.news {padding: 10px 20px;}
    
